@import "../Styles/styles";

.input {
  &__btn {
    height: 100%;
    font-size: 26px;
    color: #fff;
    background-color: $red;
    border: none;
    padding: 0 31px;
    cursor: pointer;

    &__txt {
      position: relative;
      padding-right: 20px;

      &::after {
        position: absolute;
        content: "";
        background: url("../../Assets/img/icons/chevron-right-slider.svg") no-repeat center center/cover;
        height: 20px;
        width: 10px;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }

    &:hover {
      background-color: $red-hover;
    }
  }
}
